.toolbar{background-color:rgba(90, 90, 90, 1)}
.nameweb{color: white;}
.menu{
    float:center;
    color: #FFF;
    text-align: left;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
}